@keyframes scroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -410vh 0;
  }
}

@keyframes rotate{
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes backgroundGradient {
  0% {
    background-color: #fff645;
  }
  25% {
    background-color: #fd9d02;
  }
  50% {
    background-color: #fff645;
  }
  75% {
    background-color: #fd9d02;
  }
  100% {
    background-color: #fff645;
  }
}

@keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 3.125rem 0;
  }
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}