@import '@master/normal.css';

@keyframes scroll {
  100% {
    transform: translateX(100%);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  20% {
    transform: scale(1.1)
  }
  30% {
    transform: scale(1)
  }
  40% {
    transform: scale(1.1)
  }
  50% {
    transform: scale(1)
  }
}