@import '@master/normal.css';

@keyframes scroll {
  100% {
    transform: translateX(100%);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  25% {
    transform: scale(1.05)
  }
  40% {
    transform: scale(1)
  }
  55% {
    transform: scale(1.05)
  }
  70% {
    transform: scale(1)
  }
}